In [1]:
import requests
import json
import os
import climate
from pprint import pprint
import pandas as pd
import numpy as np
import io
import census
from pprint import pprint

In [5]:
ca = census.CensusData()
pgpw = os.getenv("POSTGRES_PASSWORD")
server, engine = ca.connect_to_postgres(password=pgpw) #need to add create=True if

In [3]:
cities = ca.get_all_cities()

In [6]:
ca.upload_cities_to_postgres(cities, engine=engine)

Uploading region information to database
Finished uploading to database

In [ ]:
pgpw = os.getenv("POSTGRES_PASSWORD")
server, engine = ca.connect_to_postgres(password=pgpw) #need to add create=True if

In [23]:
tmp_df = ca.get_data_for_city(city=None, years=(2004, 2024), county="810")

<!doctype html><html lang="en"><head><title>HTTP Status 404 ? Not Found</title><style type="text/css">body {font-family:Tahoma,Arial,sans-serif;} h1, h2, h3, b {color:white;background-color:#525D76;} h1 {font-size:22px;} h2 {font-size:16px;} h3 {font-size:14px;} p {font-size:12px;} a {color:black;} .line {height:1px;background-color:#525D76;border:none;}</style></head><body><h1>HTTP Status 404 ? Not Found</h1></body></html>
error: error: unknown variable 'DP03_0119PE'
error: error: unknown variable 'DP03_0119PE'
error: error: unknown variable 'DP03_0119PE'
error: error: unknown variable 'DP03_0119PE'
<!doctype html><html lang="en"><head><title>HTTP Status 404 ? Not Found</title><style type="text/css">body {font-family:Tahoma,Arial,sans-serif;} h1, h2, h3, b {color:white;background-color:#525D76;} h1 {font-size:22px;} h2 {font-size:16px;} h3 {font-size:14px;} p {font-size:12px;} a {color:black;} .line {height:1px;background-color:#525D76;border:none;}</style></head><body><h1>HTTP Status 404 ? Not Found</h1></body></html>

In [24]:
tmp_df

,city,year,male_worker_earnings,female_worker_earnings,pct_below_pov,num_housing_units,num_married_housing_units,avg_household_size,lt_10k_income,gt_10k_lt_15k_income,...,pct_in_retail,pct_in_transportation,pct_in_information,pct_in_finance,pct_in_science,pct_in_education,pct_in_arts,pct_in_pub_ad,state,county
0,beach,2009,31959,44284,(X),175917,108124,3.18,162830,6902,...,2.8,13.4,4.4,2.5,7.3,12.3,20.5,5.0,51,810
1,beach,2010,48166,37422,5.5,178117,112658,3.16,6328,4337,...,11.8,3.5,2.2,7.4,13.1,20.8,11.0,10.1,51,810
2,beach,2011,48063,39473,7.2,179263,111861,3.17,7482,5286,...,11.8,4.1,2.5,7.2,11.9,20.5,12.0,10.5,51,810
3,beach,2012,47511,36741,7.7,179690,111768,3.21,6233,5941,...,11.4,3.3,1.7,8.1,12.0,21.8,10.2,9.8,51,810
4,beach,2013,50926,39395,6.1,180458,113980,3.16,5959,5606,...,11.4,3.6,2.4,7.7,12.3,22.7,11.6,9.2,51,810
5,beach,2014,50245,38668,6.9,182152,117681,3.10,5753,4838,...,13.2,3.7,2.1,8.1,11.2,20.4,10.2,11.1,51,810
6,beach,2015,49193,39612,5.8,183123,113342,3.16,5684,3620,...,11.5,3.3,2.2,7.0,11.6,22.5,11.6,9.5,51,810
7,beach,2016,51273,41040,5.4,184348,115905,3.14,6233,4361,...,12.6,4.6,1.5,7.6,12.4,21.9,11.7,9.0,51,810
8,beach,2017,51817,41766,5.1,184999,115950,3.10,6150,4138,...,12.0,3.9,1.8,9.1,12.9,22.6,10.1,10.2,51,810
9,beach,2018,55187,43040,4.5,186134,116678,3.07,5589,4035,...,11.5,4.2,1.6,8.0,13.1,22.6,10.2,9.5,51,810
10,beach,2019,54513,45324,4.4,186468,89905,2.52,5411,2120,...,10.5,4.7,1.2,7.6,13.6,25.0,11.4,7.6,51,810
11,beach,2021,61234,50995,7.5,190981,88104,2.45,7841,5502,...,10.8,4.6,1.8,6.8,15.2,23.3,11.4,8.2,51,810
12,beach,2022,62259,54102,7.7,191169,84113,2.49,8962,4238,...,11.8,3.4,2.2,9.6,14.6,22.8,9.0,8.2,51,810
13,beach,2023,66771,56214,6.1,192041,85815,2.49,6904,4427,...,10.7,5.4,1.7,8.9,12.8,23.2,9.5,7.8,51,810

In [8]:
ca.upload_city_data_to_postgres(tmp_df, engine=engine)
# CITY YEAR will be the primary key(s)
# all other data will follow after that

Uploading city data to the database
Finished uploading city data to database

In [3]:
# to delete a table,,, weird syntax
from sqlalchemy import MetaData, Table
metadata = MetaData()

# Reflect the existing table
table_name = 'city_data'
table = Table(table_name, metadata, autoload_with=engine)

# Drop the table
table.drop(engine)

In [6]:
query = """
SELECT * 
FROM cities
"""

counties = list(pd.read_sql_query(query, con=engine)['county'])

final_df = pd.DataFrame()
for county in counties[:4]:
    print("Working on: ", county)
    city_data_df = ca.get_data_for_city(city=None, years=(2009,2024), county=county)
    final_df = pd.concat([final_df, city_data_df], ignore_index=True)

# ca.upload_city_data_to_postgres(final_df, engine=engine)

Working on:  003
404 Error
Working on:  013
404 Error
Working on:  015
404 Error
Working on:  019
404 Error

In [7]:
final_df

,city,year,male_worker_earnings,female_worker_earnings,pct_below_pov,num_housing_units,num_married_housing_units,avg_household_size,lt_10k_income,gt_10k_lt_15k_income,...,pct_in_retail,pct_in_transportation,pct_in_information,pct_in_finance,pct_in_science,pct_in_education,pct_in_arts,pct_in_pub_ad,state,county
0,albemarle,2009,32296,51355,(X),41613,23837,3.05,36295,2519,...,1.8,8.9,3.5,2.3,6.3,12.3,33.4,4.9,51,003
1,albemarle,2010,53850,41920,5.5,42175,24377,3.14,2512,1589,...,11.4,2.4,2.2,6.9,14.4,35.7,6.7,2.8,51,003
2,albemarle,2011,55530,52211,3.8,42468,22450,3.23,2692,1915,...,7.4,2.1,1.8,5.0,14.0,37.5,10.5,5.3,51,003
3,albemarle,2012,59828,39656,6.1,43302,26335,2.96,1757,1403,...,8.1,2.5,2.1,5.1,12.9,37.0,8.0,5.3,51,003
4,albemarle,2013,52453,46615,8.2,43483,25853,2.92,2452,977,...,7.1,2.3,1.0,7.0,12.1,36.6,9.8,6.1,51,003
5,albemarle,2014,57240,45361,7.9,43919,25660,2.98,2687,1417,...,10.5,4.1,2.3,6.8,12.8,33.5,8.7,3.2,51,003
6,albemarle,2015,75798,49929,6.1,44260,26088,2.99,2892,425,...,10.1,2.3,2.0,5.5,11.8,37.2,9.9,3.7,51,003
7,albemarle,2016,67131,46187,4.3,44685,23652,3.24,1434,1020,...,11.2,1.9,1.3,6.7,13.6,32.3,11.4,5.5,51,003
8,albemarle,2017,56190,49663,5.6,45366,26203,3.06,1594,912,...,8.6,2.2,1.1,5.2,11.9,37.1,10.1,3.7,51,003
9,albemarle,2018,52173,51916,6.4,46081,26631,2.90,1475,928,...,8.9,2.7,0.9,5.2,14.5,33.6,11.7,4.7,51,003
10,albemarle,2019,63466,53973,2.1,47090,22481,2.34,1360,1277,...,8.1,3.2,0.8,8.1,11.7,38.1,7.0,3.8,51,003
11,albemarle,2021,80169,62685,2.9,48420,21597,2.30,1053,730,...,8.4,2.7,1.7,7.4,16.7,36.1,6.2,4.5,51,003
12,albemarle,2022,75038,60607,5.1,49217,21573,2.38,1947,1098,...,6.9,2.3,2.1,6.1,18.8,36.1,7.1,4.3,51,003
13,albemarle,2023,77551,65571,5.2,50048,24404,2.31,1726,1457,...,10.2,3.2,3.2,5.8,13.8,33.0,7.7,4.2,51,003
14,arlington,2009,53566,71361,(X),103813,38713,3.39,90561,4313,...,0.4,5.2,1.6,3.8,9.1,26.9,13.2,6.6,51,013
15,arlington,2010,73658,62133,6.1,105490,42683,3.01,3126,1527,...,6.1,1.9,2.8,5.8,24.5,17.8,7.6,17.8,51,013
16,arlington,2011,81465,62031,4.6,106720,41499,3.23,2915,1426,...,3.6,1.2,2.8,8.1,29.2,17.9,6.8,19.3,51,013
17,arlington,2012,87362,65904,6.2,107734,42934,3.12,3033,1914,...,6.1,1.9,2.9,8.3,29.8,14.4,6.8,16.4,51,013
18,arlington,2013,89109,75891,8.2,109689,48136,3.00,4281,1830,...,3.8,1.4,3.5,7.0,29.5,14.7,10.0,15.9,51,013
19,arlington,2014,88177,74247,7.1,110597,44313,3.06,4027,1868,...,4.4,2.3,3.8,6.5,26.3,14.9,9.3,17.0,51,013
20,arlington,2015,86926,75111,3.8,112517,45803,3.06,4457,1220,...,3.7,1.8,2.9,9.2,27.9,15.1,6.5,17.6,51,013
21,arlington,2016,98623,80167,4.5,112970,50440,2.95,4874,928,...,3.6,2.0,3.5,6.6,30.1,15.6,7.5,16.1,51,013
22,arlington,2017,90956,76438,2.6,114002,48380,3.05,4416,1373,...,4.3,2.8,3.0,5.7,31.8,14.2,8.2,16.5,51,013
23,arlington,2018,97299,80892,4.0,116543,51898,2.90,3390,2107,...,4.6,2.5,3.7,6.9,28.0,14.6,6.7,16.8,51,013
24,arlington,2019,91631,79572,6.5,118883,41865,2.08,4857,2372,...,4.2,1.9,3.2,6.1,31.8,14.6,6.8,18.9,51,013
25,arlington,2021,103055,91664,5.6,119446,40178,2.12,4621,1812,...,3.7,1.5,3.3,8.9,31.2,16.3,6.1,16.5,51,013
26,arlington,2022,114766,96740,4.5,122458,38932,2.05,4895,1989,...,3.7,1.9,2.8,7.2,31.3,16.2,6.3,16.6,51,013
27,arlington,2023,111476,97841,4.4,123966,42925,2.03,4227,1979,...,4.8,2.3,2.9,7.0,28.7,16.7,6.2,18.0,51,013
28,augusta,2009,28305,42369,(X),30798,20068,2.90,27786,1690,...,2.2,14.0,5.6,1.2,4.5,5.5,20.6,5.2,51,015
29,augusta,2010,41036,32366,7.4,31352,19870,3.04,1877,1043,...,14.5,4.9,1.9,4.5,7.3,20.6,5.7,4.2,51,015
30,augusta,2011,40767,35103,8.6,31664,20938,2.88,1759,1382,...,14.1,6.5,1.1,4.3,6.2,23.5,7.2,5.8,51,015
31,augusta,2012,39045,35580,7.1,31576,22484,2.71,1648,1453,...,12.1,5.7,2.0,3.2,9.3,26.9,6.3,2.2,51,015
32,augusta,2013,44900,29838,5.7,31552,19214,3.13,1183,1307,...,11.4,4.6,3.2,2.8,7.6,32.8,5.7,2.9,51,015
33,augusta,2014,46831,36735,7.9,31800,21158,2.91,1207,2040,...,12.8,10.2,0.7,3.7,7.3,22.2,6.2,5.1,51,015
34,augusta,2015,46679,33827,6.0,32141,19739,3.01,1543,1065,...,11.7,8.0,0.8,2.4,5.9,24.1,7.1,1.4,51,015
35,augusta,2016,46531,37416,7.4,32281,19808,2.99,975,2073,...,14.8,5.1,1.5,2.5,7.9,24.0,8.8,4.9,51,015
36,augusta,2017,42484,36530,8.6,32556,21329,2.84,1865,1333,...,13.0,6.7,1.3,3.0,8.4,25.2,5.1,4.8,51,015
37,augusta,2018,45755,41042,5.1,32723,20628,2.82,1356,1398,...,12.3,3.6,1.2,3.4,7.9,27.2,5.9,5.0,51,015
38,augusta,2019,50321,39742,3.6,32847,17168,2.35,912,885,...,12.1,5.4,2.1,3.7,4.8,25.2,7.0,3.6,51,015
39,augusta,2021,46152,50621,6.9,32935,15744,2.49,1674,688,...,9.0,8.1,1.0,5.4,9.4,21.8,8.7,3.7,51,015
40,augusta,2022,57078,50520,6.0,33132,16937,2.39,1135,999,...,14.0,5.4,1.2,3.5,8.3,25.4,6.2,3.4,51,015
41,augusta,2023,58625,51780,6.7,33341,16521,2.35,737,1146,...,11.4,9.1,0.5,4.1,11.2,20.9,5.8,5.3,51,015
42,bedford,2009,30428,44017,(X),31889,19444,2.96,26147,805,...,2.3,13.0,6.0,1.4,6.4,9.1,22.6,7.8,51,019
43,bedford,2010,47670,37510,6.2,32776,19621,2.93,1649,1192,...,13.0,4.4,1.3,3.7,8.2,23.1,7.3,4.6,51,019
44,bedford,2011,42287,33788,5.2,31569,19412,3.03,876,937,...,12.5,7.8,0.7,5.9,10.2,18.9,9.2,4.0,51,019
45,bedford,2012,46361,32046,8.4,32404,20068,2.93,1760,1495,...,11.5,9.6,2.2,5.6,8.1,20.9,6.7,4.4,51,019
46,bedford,2013,46080,34223,7.1,32444,21157,2.88,1347,1603,...,17.8,5.4,0.9,4.4,7.6,23.4,4.3,5.0,51,019
47,bedford,2014,47960,39013,5.3,35783,21571,3.01,1959,1343,...,11.6,4.6,1.7,4.8,11.4,23.2,6.1,5.4,51,019
48,bedford,2015,51122,40228,4.3,36110,21749,2.91,1985,1530,...,10.0,5.5,1.6,6.4,8.3,24.2,7.5,5.8,51,019
49,bedford,2016,50405,37359,8.8,36348,21453,3.12,1713,1614,...,10.1,6.1,0.6,5.9,9.2,25.8,8.9,3.1,51,019
50,bedford,2017,46593,39335,5.2,36859,23967,2.81,1433,1182,...,12.6,5.5,0.9,6.0,10.9,22.5,4.4,4.9,51,019
51,bedford,2018,48629,41336,7.0,37001,21765,2.89,1123,1142,...,14.7,9.6,0.9,4.8,8.7,26.3,7.3,1.9,51,019
52,bedford,2019,57158,41041,5.5,37048,18059,2.50,1571,889,...,14.3,5.2,0.3,4.6,7.2,27.3,4.0,4.6,51,019
53,bedford,2021,52178,50984,5.4,37366,19749,2.39,620,1345,...,9.7,5.5,1.6,8.5,10.8,26.3,8.8,3.9,51,019
54,bedford,2022,64561,46137,4.9,37468,19338,2.47,990,1364,...,10.7,5.7,0.9,5.1,10.2,22.5,7.5,4.5,51,019
55,bedford,2023,55630,48803,7.2,37590,19625,2.44,2682,695,...,9.8,5.3,0.9,7.5,10.9,25.6,6.8,3.9,51,019

In [ ]:
# existing_data = pd.read_sql('SELECT city, year FROM city_data', engine)
# new_rows = final_df[~final_df[['city', 'year']].isin(existing_data[['city', 'year']])]
# final_df[['city', 'year']].isin(existing_data[['city', 'year']])

final_df.set_index(['city', 'year'], inplace=True)
exists = ('albemarle', '2022') in final_df.index
exists
# final_df.to_sql("city_data", con=engine, index=False, chunksize=1000, if_exists="replace")

KeyError: "None of [Index(['city', 'year'], dtype='object')] are in the [columns]"

In [6]:

query = """
SELECT * FROM city_data
"""

df = pd.read_sql_query(query, con=engine)
df

,city,year,male_worker_earnings,female_worker_earnings,pct_below_pov,num_housing_units,num_married_housing_units,avg_household_size,lt_10k_income,gt_10k_lt_15k_income,...,pct_in_retail,pct_in_transportation,pct_in_information,pct_in_finance,pct_in_science,pct_in_education,pct_in_arts,pct_in_pub_ad,state,county
0,bedford,2009.0,30428,44017,(X),31889,19444,2.96,26147,805,...,2.3,13.0,6.0,1.4,6.4,9.1,22.6,7.8,51,019
1,bedford,2010.0,47670,37510,6.2,32776,19621,2.93,1649,1192,...,13.0,4.4,1.3,3.7,8.2,23.1,7.3,4.6,51,019
2,bedford,2011.0,42287,33788,5.2,31569,19412,3.03,876,937,...,12.5,7.8,0.7,5.9,10.2,18.9,9.2,4.0,51,019
3,bedford,2012.0,46361,32046,8.4,32404,20068,2.93,1760,1495,...,11.5,9.6,2.2,5.6,8.1,20.9,6.7,4.4,51,019
4,bedford,2013.0,46080,34223,7.1,32444,21157,2.88,1347,1603,...,17.8,5.4,0.9,4.4,7.6,23.4,4.3,5.0,51,019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,bedford,2018.0,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
66,bedford,2019.0,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
67,bedford,2021.0,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
68,bedford,2022.0,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
69,bedford,2023.0,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [22]:
y = "2009"
url = "https://api.census.gov/data/" + f"{y}/acs/acs1/profile"

get_metrics = "".join(x + "," for x in ca.list_of_metrics.keys())
get_metrics = get_metrics[:len(get_metrics)-1] # get rid of the last comma that I appended

params = {"key": os.getenv("CENSUS_KEY"),
                    "get": get_metrics,
                    "for": f"county:810",
                    "in": "state:51"}

r = requests.get(url=url, params=params)
values = list(json.loads(r.text))
pd.DataFrame(values[1:], columns=values[0])

,NAME,DP03_0093E,DP03_0094E,DP03_0119PE,DP04_0001E,DP02_0002E,DP02_0016E,DP03_0052E,DP03_0053E,DP03_0054E,...,DP03_0037PE,DP03_0038PE,DP03_0039PE,DP03_0040PE,DP03_0041PE,DP03_0042PE,DP03_0043PE,DP03_0045PE,state,county
0,"Virginia Beach city, Virginia",31959,44284,(X),175917,108124,3.18,162830,6902,3947,...,2.8,13.4,4.4,2.5,7.3,12.3,20.5,5.0,51,810

In [6]:
ca.get_all_cities()

             city state county
0       albemarle    51    003
1       arlington    51    013
2         augusta    51    015
3         bedford    51    019
4    chesterfield    51    041
5         fairfax    51    059
6        fauquier    51    061
7       frederick    51    069
8         hanover    51    085
9         henrico    51    087
10      jamescity    51    095
11        loudoun    51    107
12     montgomery    51    121
13  princewilliam    51    153
14        roanoke    51    161
15     rockingham    51    165
16   spotsylvania    51    177
17       stafford    51    179
18           york    51    199
19      lynchburg    51    680
20     alexandria    51    510
21     chesapeake    51    550
22        hampton    51    650
23    newportnews    51    700
24        norfolk    51    710
25     portsmouth    51    740
26       richmond    51    760
27        roanoke    51    770
28        suffolk    51    800
29          beach    51    810

In [ ]:
from html.parser import HTMLParser
#census_url = "https://api.census.gov/data"
year = "2023"
dataset = "acs"
url = f"https://api.census.gov/data/{year}/acs/acs1/profile"


"""
    # https://api.census.gov/data/2022/acs/acs1/profile/variables.html 

    # ones worth using:

    # economic
    DP03_0093E = estimate for earnings for first year male workers 
    DP03_0094E = estimate for earnings for first year female workers
    DP03_0119PE = estimated percentage of people below the poverty line
    DP04_0001E = estimated housing units
    DP02_0002E = estimated number of married housing units
    DP02_0016E = estimated average household size

    DP03_0052E: estimated total households less than $10,000 income
    DP03_0053E: estimated total households between $10-15k
    DP03_0054E: estimated total households between $15-25k
    DP03_0055E: 25-35k
    DP03_0056E: 35-45k
    DP03_0057E: 50-75k
    DP03_0058E: 75-100k
    DP03_0059E: 100-150k
    DP03_0060E: 150-200k
    DP03_0061E: > 200k

    # relationships
    DP02_0026E = men over 15 y/o who have not married
    DP02_0028E = men over 15 y/o who married, but separated
    DP02_0030E = men over 15 y/o who are divorced
    
    # education (currently)
    DP02_0054E = estimated population of kids in nursery school/preschool
    DP02_0055E = estimated population of kids in kindergarten
    DP02_0056E = estimated population of kids in grades 1-8
    DP02_0057E = estimated population of kids in grades 9-12
    DP02_0058E = estimated population of kids in college/grad school

    # education attainment
    DP02_0060PE = estimated population of 25 years and older who have less than 9th grade education
    DP02_0061PE = estimated population with some high school education
    DP02_0062PE = estimated population with high school diploma
    DP02_0063PE = estimated population with some college, no diploma
    DP02_0064PE = estimated population with associates degrees
    DP02_0065PE  = estimated population with bachelor's degree
    DP02_0066PE = estimated population with graduate degrees

    # unemployement rate
    DP03_0009PE

    # industry
    DP03_0033PE: agriculture, forestry, fishing, hunting, mining
    DP03_0034PE: construction
    DP03_0035PE: manufacturing
    DP03_0036PE: wholesale trade
    DP03_0037PE: retail trade
    DP03_0038PE: transportation, warehousing, utilities
    DP03_0039PE: information
    DP03_0040PE: finance, insurance, real estate, rental, leasing
    DP03_0041PE: professional, scientific, administrative, waste management
    DP03_0042PE: educational services/health care/ social assistance
    DP03_0043PE: arts, entertainment, recreation, accommodation, food services
    DP03_0045PE: public administration

"""
variables = "NAME,DP02_0060PE,DP02_0061PE,DP02_0062PE,DP02_0063PE,DP02_0064PE,DP02_0065PE,DP02_0066PE"
print(url)
params = {"key": os.getenv("CENSUS_KEY"),
           "for": "county:*", 
           "get": variables,
           "in": "state:51"
          }
r = requests.get(url, params=params)
values = list(json.loads(r.text))

df = pd.DataFrame(values[1:], columns=values[0])
# df = df.rename(columns={
#     "DP02_0060PE":"<9th",
#     "DP02_0061PE": "some high school",
#     "DP02_0062PE": "high school",
#     "DP02_0063PE": "some college",
#     "DP02_0064PE": "associates",
#     "DP02_0065PE": "bachelors",
#     "DP02_0066PE": "graduate"
# })
df

In [ ]:
df['NAME'] = df['NAME'].str.lower()
df['NAME'] = df['NAME'].str.replace(" ", "")

In [ ]:
df[df['NAME'].str.contains("norfolk")]

In [ ]:
co = climate.ClimateAgent()
# let's test for all of the cities that we have data on for the Census
# so there will be around 30 "cities" (counties, really) for Virginia that we will have data on
station_id = co.get_station_id("Norfolk, Virginia")
climate_df = co.get_data_for_station_id(station_id=station_id, start_date="2022-01-01", end_date="2022-12-31")