In [1]:
import requests
import json
import os
import climate
from pprint import pprint
import pandas as pd
import numpy as np
import io
import census
from pprint import pprint

In [2]:
ca = census.CensusData()
co = climate.ClimateAgent()
pgpw = os.getenv("POSTGRES_PASSWORD") 
server, engine = ca.connect_to_postgres(password=pgpw) #need to add create=True if

In [3]:
co.get_station_id_from_postgres('norfolk', engine=engine)

                        city           id
0        albemarle, virginia  USW00093736
1        arlington, virginia  USW00013743
2          augusta, virginia  USC00448062
3          bedford, virginia  USC00440551
4     chesterfield, virginia  USW00000153
5          fairfax, virginia  USW00093738
6      front royal, virginia  USC00443229
7        frederick, virginia  USC00449186
8          hanover, virginia  USW00093775
9          henrico, virginia  USW00013740
10    williamsburg, virginia  USC00449151
11         loudoun, virginia  USC00444909
12      montgomery, virginia  USC00440766
13        manassas, virginia  USC00445204
14         roanoke, virginia  USW00013741
15      rockingham, virginia  USC00442208
16  fredericksburg, virginia  USC00442009
17        stafford, virginia  USW00013773
18            york, virginia  USW00093741
19       lynchburg, virginia  USW00013733
20      alexandria, virginia  USW00013743
21      chesapeake, virginia  USW00013762
22         hampton, virginia  USW00013737
23     newportnews, virginia  USW00093741
24         norfolk, virginia  USW00013737
25      portsmouth, virginia  USW00013737
26        richmond, virginia  USW00013740
27         suffolk, virginia  USC00448192
28  Virginia Beach, virginia  USW00013769

In [10]:
query = f"""
SELECT * 
FROM climate_data
WHERE STATION == 'USW00013737'
"""
record = pd.read_sql_query(query, con=engine)
record['id'].item()

OperationalError: (psycopg.OperationalError) consuming input failed: terminating connection due to administrator command
server closed the connection unexpectedly
	This probably means the server terminated abnormally
	before or while processing the request.
[SQL:
SELECT *
FROM climate_data
WHERE STATION == 'USW00013737'
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
# ca.upload_city_data_to_postgres(tmp_df, engine=engine)
# # CITY YEAR will be the primary key(s)
# # all other data will follow after that

In [ ]:
# # to delete a table,,, weird syntax
# from sqlalchemy import MetaData, Table
# metadata = MetaData()

# # Reflect the existing table
# table_name = 'city_data'
# table = Table(table_name, metadata, autoload_with=engine)

# # Drop the table
# table.drop(engine)

In [ ]:
# query = """
# SELECT * 
# FROM cities
# """

# counties = list(pd.read_sql_query(query, con=engine)['county'])

# final_df = pd.DataFrame()
# for county in counties:
#     print("Working on: ", county)
#     city_data_df = ca.get_data_for_city(city=None, years=(2009,2024), county=county)
#     final_df = pd.concat([final_df, city_data_df], ignore_index=True)

In [ ]:
# ca.upload_city_data_to_postgres(final_df, engine=engine)

In [ ]:
# # existing_data = pd.read_sql('SELECT city, year FROM city_data', engine)
# # new_rows = final_df[~final_df[['city', 'year']].isin(existing_data[['city', 'year']])]
# # final_df[['city', 'year']].isin(existing_data[['city', 'year']])
# query = """
# SELECT * FROM city_data
# """

# check_df = pd.read_sql_query(query, con=engine)
# check_df
# #rows_to_upload = final_df[]
# # final_df.to_sql("city_data", con=engine, index=False, chunksize=1000, if_exists="replace")

In [ ]:

# query = """
# SELECT * FROM city_data
# """

# df = pd.read_sql_query(query, con=engine)
# df

In [ ]:
# y = "2009"
# url = "https://api.census.gov/data/" + f"{y}/acs/acs1/profile"

# get_metrics = "".join(x + "," for x in ca.list_of_metrics.keys())
# get_metrics = get_metrics[:len(get_metrics)-1] # get rid of the last comma that I appended

# params = {"key": os.getenv("CENSUS_KEY"),
#                     "get": get_metrics,
#                     "for": f"county:810",
#                     "in": "state:51"}

# r = requests.get(url=url, params=params)
# values = list(json.loads(r.text))
# pd.DataFrame(values[1:], columns=values[0])

In [ ]:
# ca.get_all_cities()

In [ ]:
# from html.parser import HTMLParser
# #census_url = "https://api.census.gov/data"
# year = "2023"
# dataset = "acs"
# url = f"https://api.census.gov/data/{year}/acs/acs1/profile"


# """
#     # https://api.census.gov/data/2022/acs/acs1/profile/variables.html 

#     # ones worth using:

#     # economic
#     DP03_0093E = estimate for earnings for first year male workers 
#     DP03_0094E = estimate for earnings for first year female workers
#     DP03_0119PE = estimated percentage of people below the poverty line
#     DP04_0001E = estimated housing units
#     DP02_0002E = estimated number of married housing units
#     DP02_0016E = estimated average household size

#     DP03_0052E: estimated total households less than $10,000 income
#     DP03_0053E: estimated total households between $10-15k
#     DP03_0054E: estimated total households between $15-25k
#     DP03_0055E: 25-35k
#     DP03_0056E: 35-45k
#     DP03_0057E: 50-75k
#     DP03_0058E: 75-100k
#     DP03_0059E: 100-150k
#     DP03_0060E: 150-200k
#     DP03_0061E: > 200k

#     # relationships
#     DP02_0026E = men over 15 y/o who have not married
#     DP02_0028E = men over 15 y/o who married, but separated
#     DP02_0030E = men over 15 y/o who are divorced
    
#     # education (currently)
#     DP02_0054E = estimated population of kids in nursery school/preschool
#     DP02_0055E = estimated population of kids in kindergarten
#     DP02_0056E = estimated population of kids in grades 1-8
#     DP02_0057E = estimated population of kids in grades 9-12
#     DP02_0058E = estimated population of kids in college/grad school

#     # education attainment
#     DP02_0060PE = estimated population of 25 years and older who have less than 9th grade education
#     DP02_0061PE = estimated population with some high school education
#     DP02_0062PE = estimated population with high school diploma
#     DP02_0063PE = estimated population with some college, no diploma
#     DP02_0064PE = estimated population with associates degrees
#     DP02_0065PE  = estimated population with bachelor's degree
#     DP02_0066PE = estimated population with graduate degrees

#     # unemployement rate
#     DP03_0009PE

#     # industry
#     DP03_0033PE: agriculture, forestry, fishing, hunting, mining
#     DP03_0034PE: construction
#     DP03_0035PE: manufacturing
#     DP03_0036PE: wholesale trade
#     DP03_0037PE: retail trade
#     DP03_0038PE: transportation, warehousing, utilities
#     DP03_0039PE: information
#     DP03_0040PE: finance, insurance, real estate, rental, leasing
#     DP03_0041PE: professional, scientific, administrative, waste management
#     DP03_0042PE: educational services/health care/ social assistance
#     DP03_0043PE: arts, entertainment, recreation, accommodation, food services
#     DP03_0045PE: public administration

# """
# variables = "NAME,DP02_0060PE,DP02_0061PE,DP02_0062PE,DP02_0063PE,DP02_0064PE,DP02_0065PE,DP02_0066PE"
# print(url)
# params = {"key": os.getenv("CENSUS_KEY"),
#            "for": "county:*", 
#            "get": variables,
#            "in": "state:51"
#           }
# r = requests.get(url, params=params)
# values = list(json.loads(r.text))

# df = pd.DataFrame(values[1:], columns=values[0])
# # df = df.rename(columns={
# #     "DP02_0060PE":"<9th",
# #     "DP02_0061PE": "some high school",
# #     "DP02_0062PE": "high school",
# #     "DP02_0063PE": "some college",
# #     "DP02_0064PE": "associates",
# #     "DP02_0065PE": "bachelors",
# #     "DP02_0066PE": "graduate"
# # })
# df

In [ ]:
co = climate.ClimateAgent()
# let's test for all of the cities that we have data on for the Census
# so there will be around 30 "cities" (counties, really) for Virginia that we will have data on
cities = ca.get_all_cities()
cities = list(cities['city'])
for c in cities:

In [ ]:
station_id = co.get_station_id("Norfolk, Virginia")
climate_df = co.get_data_for_station_id(station_id=station_id, start_date="1930-01-01", end_date="2022-12-31")

In [ ]:
co.upload_data_to_postgres(climate_data=climate_df, engine=engine)

In [ ]:
query = """
SELECT *
FROM climate_data
"""

pd.read_sql_query(query, con=engine)

In [12]:
cities = ca.get_all_cities()
cities = list(cities['city'])

city_to_station = {}

full_df = pd.DataFrame()
for c in cities:
    if c == "fauquier":
        c = "front royal"
    if c == "jamescity":
        c = "williamsburg"
    if c == "princewilliam":
        c = "manassas"
    if c == "spotsylvania":
        c = "fredericksburg"

    if c == "beach":
        c = "Virginia Beach"
    c = c + ", virginia"
    print("Working on:", c)
    station_id = co.get_station_id(c)
    climate_df = co.get_data_for_station_id(station_id=station_id, start_date="1940-01-01", end_date="2023-12-31")
    full_df = pd.concat([full_df, climate_df], ignore_index=True)

Working on: albemarle, virginia
Working on: arlington, virginia
Working on: augusta, virginia
Working on: bedford, virginia
Working on: chesterfield, virginia
Working on: fairfax, virginia
Working on: front royal, virginia
Working on: frederick, virginia
Working on: hanover, virginia
Working on: henrico, virginia
Working on: williamsburg, virginia
Working on: loudoun, virginia
Working on: montgomery, virginia
Working on: manassas, virginia
Working on: roanoke, virginia
Working on: rockingham, virginia
Working on: fredericksburg, virginia
Working on: stafford, virginia
Working on: york, virginia
Working on: lynchburg, virginia
Working on: alexandria, virginia
Working on: chesapeake, virginia
Working on: hampton, virginia
Working on: newportnews, virginia
Working on: norfolk, virginia
Working on: portsmouth, virginia
Working on: richmond, virginia
Working on: roanoke, virginia
Working on: suffolk, virginia
Working on: Virginia Beach, virginia

In [13]:
co.upload_data_to_postgres(full_df, engine=engine)

Uploading city climate data to the database
city_data table does not exist yet, creating now with first command
Finished uploading city data to database

In [14]:
query = """
SELECT * 
FROM climate_data
"""
pd.read_sql_query(query, con=engine)

            STATION        DATE  PRCP  TMAX  TMIN
0       USW00093736  1955-09-14   NaN  77.0  47.0
1       USW00093736  1955-09-15   NaN  88.0  55.0
2       USW00093736  1955-09-16   NaN  92.0  64.0
3       USW00093736  1955-09-17   NaN  80.0  70.0
4       USW00093736  1955-09-18   NaN  81.0  67.0
...             ...         ...   ...   ...   ...
693996  USW00013769  2023-12-27  0.30  61.0  54.0
693997  USW00013769  2023-12-28  0.00  58.0  49.0
693998  USW00013769  2023-12-29  0.24  59.0  39.0
693999  USW00013769  2023-12-30  0.01  51.0  36.0
694000  USW00013769  2023-12-31  0.00  50.0  32.0

[694001 rows x 5 columns]

In [ ]:
col_one = city_to_station.keys()
col_two = city_to_station.values()

new_dicts = {"city": col_one, "id": col_two}

city_id_df = pd.DataFrame.from_dict(new_dicts)

In [ ]:
co.upload_cities_and_ids(city_id_df, engine=engine)

In [ ]:
lat, long = co.get_lat_long(location="Fredericksburg VA")
bb = co.get_bounding_box(latitude=lat, longitude=long, buffer = 10)
bb

In [ ]:
bounding_box = f"{bb[0]},{bb[1]},{bb[2]},{bb[3]}"
print(bounding_box)
params = {"dataset":"global-summary-of-the-month",
                  "bbox": bounding_box,
                  "dataTypes": "TMIN,TMAX,PRCP",
                  "startDate": "2022-01-01",
                  "endDate": "2022-02-01"}
headers = co.make_headers()
base = "https://www.ncei.noaa.gov/access/services/search/v1/data"
r = requests.get(url=base, params=params, headers=headers)
r.text

In [ ]:
city_to_station

In [ ]:
final_df = pd.DataFrame()
for station in city_to_station.values():
    co.get_data_for_station_id(station)