In [1]:
import requests
import json
import os
import climate
from pprint import pprint
import pandas as pd
import numpy as np
import io
import census
from pprint import pprint

In [2]:
cd = census.CensusData()
ca = climate.ClimateAgent()
pgpw = os.getenv("POSTGRES_PASSWORD") 
server, engine = cd.connect_to_postgres(password=pgpw) #need to add create=True if

In [3]:
cities = list(cd.get_all_cities()['city'])
print(cities)

cities_and_ids = pd.DataFrame(columns=["city", "id"])
print("Getting all city names and ids")
for c in cities:

    if c == "fauquier":
        c = "front royal"
    if c == "jamescity":
        c = "williamsburg"
    if c == "princewilliam":
        c = "manassas"
    if c == "spotsylvania":
        c = "fredericksburg"
    if c == "albemarle":
        c = "charlottesville"

    if c == "beach":
        c = "Virginia Beach"
    
    c = c + ", virginia"
    print(c)
    id = ca.get_station_id(c)
    df = pd.DataFrame({c:id}, columns=['city', 'id'])
    cities_and_ids = pd.concat([cities_and_ids, df], ignore_index=True)
cities_and_ids

['albemarle', 'arlington', 'augusta', 'bedford', 'chesterfield', 'fairfax', 'fauquier', 'frederick', 'hanover', 'henrico', 'jamescity', 'loudoun', 'montgomery', 'princewilliam', 'roanoke', 'rockingham', 'spotsylvania', 'stafford', 'york', 'lynchburg', 'alexandria', 'chesapeake', 'hampton', 'newportnews', 'norfolk', 'portsmouth', 'richmond', 'roanoke', 'suffolk', 'beach']
Getting all city names and ids
charlottesville, virginia
arlington, virginia
augusta, virginia
bedford, virginia
chesterfield, virginia
fairfax, virginia
front royal, virginia
frederick, virginia
hanover, virginia
henrico, virginia
Station id look up failed for: henrico, virginia
<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html><head>
<title>503 Service Unavailable</title>
</head><body>
<h1>Service Unavailable</h1>
<p>The server is temporarily unable to service your
request due to maintenance downtime or capacity
problems. Please try again later.</p>
<p>Additionally, a 503 Service Unavailable
error was encountered while trying to use an ErrorDocument to handle the request.</p>
</body></html>

Expecting value: line 1 column 1 (char 0)

UnboundLocalError: cannot access local variable 'station_id' where it is not associated with a value

In [ ]:
cities = list(cd.get_all_cities()['city'])
print(cities)

# cities_and_ids = pd.DataFrame(columns=["city", "id"])
# print("Getting all city names and ids")
# for c in cities:
#     try:
#         if c == "fauquier":
#             c = "front royal"
#         if c == "jamescity":
#             c = "williamsburg"
#         if c == "princewilliam":
#             c = "manassas"
#         if c == "spotsylvania":
#             c = "fredericksburg"

#         if c == "beach":
#             c = "Virginia Beach"
#         print(c)
#         id = ca.get_station_id(c)
#         df = pd.DataFrame({c:id}, columns=['city', 'id'])
#         cities_and_ids = pd.concat([cities_and_ids, df], ignore_index=True)

#     except:
#         continue

# print("Getting all city data")
# city_df = pd.DataFrame()
# for c in cities:
#     try:
#         df = cd.get_data_for_city(c)
#         city_df = pd.concat([city_df, df], ignore_index=True)
#     except:
#         continue

# cd.upload_city_data_to_postgres(city_df, engine=engine)

print("Getting all climate data")
full_df = pd.DataFrame()
for c in cities:
    try:
        if c == "fauquier":
            c = "front royal"
        if c == "jamescity":
            c = "williamsburg"
        if c == "princewilliam":
            c = "manassas"
        if c == "spotsylvania":
            c = "fredericksburg"

        if c == "beach":
            c = "Virginia Beach"
        c = c + ", virginia"
        print("Working on:", c)
        station_id = ca.get_station_id(c)
        climate_df = ca.get_data_for_station_id(station_id=station_id, start_date="1940-01-01", end_date="2023-12-31")
        full_df = pd.concat([full_df, climate_df], ignore_index=True)
    except:
        continue

ca.upload_data_to_postgres(full_df, engine=engine)

['albemarle', 'arlington', 'augusta', 'bedford', 'chesterfield', 'fairfax', 'fauquier', 'frederick', 'hanover', 'henrico', 'jamescity', 'loudoun', 'montgomery', 'princewilliam', 'roanoke', 'rockingham', 'spotsylvania', 'stafford', 'york', 'lynchburg', 'alexandria', 'chesapeake', 'hampton', 'newportnews', 'norfolk', 'portsmouth', 'richmond', 'roanoke', 'suffolk', 'beach']
Getting all city names and ids
albemarle
arlington
augusta
bedford
chesterfield
fairfax
front royal
frederick
hanover
henrico
williamsburg
loudoun
montgomery
manassas

In [11]:
query = """
SELECT *
FROM climate_data
"""

pd.read_sql(query, con=engine)

            STATION        DATE  PRCP  TMAX  TMIN
0       USW00093736  1955-09-14   NaN  77.0  47.0
1       USW00093736  1955-09-15   NaN  88.0  55.0
2       USW00093736  1955-09-16   NaN  92.0  64.0
3       USW00093736  1955-09-17   NaN  80.0  70.0
4       USW00093736  1955-09-18   NaN  81.0  67.0
...             ...         ...   ...   ...   ...
693996  USW00013769  2023-12-27  0.30  61.0  54.0
693997  USW00013769  2023-12-28  0.00  58.0  49.0
693998  USW00013769  2023-12-29  0.24  59.0  39.0
693999  USW00013769  2023-12-30  0.01  51.0  36.0
694000  USW00013769  2023-12-31  0.00  50.0  32.0

[694001 rows x 5 columns]

In [110]:
import plotly.express as px
import matplotlib as plt
query = """
SELECT *
FROM city_ids
"""
df = pd.read_sql_query(query, con=engine)
df

                        city           id
0        albemarle, virginia  USW00093736
1        arlington, virginia  USW00013743
2          augusta, virginia  USC00448062
3          bedford, virginia  USC00440551
4     chesterfield, virginia  USW00000153
5          fairfax, virginia  USW00093738
6      front royal, virginia  USC00443229
7        frederick, virginia  USC00449186
8          hanover, virginia  USW00093775
9          henrico, virginia  USW00013740
10    williamsburg, virginia  USC00449151
11         loudoun, virginia  USC00444909
12      montgomery, virginia  USC00440766
13        manassas, virginia  USC00445204
14         roanoke, virginia  USW00013741
15      rockingham, virginia  USC00442208
16  fredericksburg, virginia  USC00442009
17        stafford, virginia  USW00013773
18            york, virginia  USW00093741
19       lynchburg, virginia  USW00013733
20      alexandria, virginia  USW00013743
21      chesapeake, virginia  USW00013762
22         hampton, virginia  USW00013737
23     newportnews, virginia  USW00093741
24         norfolk, virginia  USW00013737
25      portsmouth, virginia  USW00013737
26        richmond, virginia  USW00013740
27         suffolk, virginia  USC00448192
28  Virginia Beach, virginia  USW00013769

In [ ]:
station_id_one = cli.get_station_id("norfolk, virginia")
station_id_two = cli.get_station_id("augusta, virginia")

df_one = cli.get_climate_data_from_postgres(station_id_one, engine=engine)
df_two = cli.get_climate_data_from_postgres(station_id_two, engine=engine)

full_df = pd.concat([df_one, df_two])
full_df['date'] = pd.to_datetime(full_df['date'])
full_df['year'] = full_df['date'].dt.year
full_df['month'] = full_df['date'].dt.month
full_df.groupby(["id", "year"]).agg(
    {"prcp": "mean",
     "tmax": "mean",
     "tmin": "mean"}
)

                      prcp       tmax       tmin
id          year
USC00448062 1940  0.125246  64.136986  40.571038
            1941  0.063003  68.254190  40.819444
            1942  0.126686  66.779614  41.532967
            1943  0.091151  67.672176  41.791781
            1944  0.113297  67.964286  42.691257
...                    ...        ...        ...
USW00013737 2019  0.126521  71.594521  55.191781
            2020  0.153907  72.139344  55.871585
            2021  0.106630  70.717808  53.983562
            2022  0.107425  69.764384  52.906849
            2023  0.138493  70.865753  54.610959

[162 rows x 3 columns]

In [ ]:
headers = cli.make_headers()
station = cli.get_station_id("norfolk, virginia")
params = {"dataset":"global-summary-of-the-month",
          "stations": station,
          "startDate": "2022-01-01",
          "endDate": "2022-01-02"
          }
r = requests.get("https://www.ncei.noaa.gov/access/services/search/v1/data/", params=params, headers=headers)
data_types = json.loads(r.text)['results'][0]['dataTypes']
data_types

In [63]:
query = """
SELECT *
FROM climate_data
LIMIT 1
"""
df = pd.read_sql_query(query, con=engine)
cols = list(df.columns)

for c in cols:
    print(c)

id
date
prcp
tmax
tmin

In [58]:
query = f"""
SELECT *
FROM city_data
WHERE station == '12345'
"""
record = pd.read_sql_query(query, con=engine)

ProgrammingError: (psycopg.errors.UndefinedColumn) column "station" does not exist
LINE 4: WHERE station == '12345'
              ^
HINT:  Perhaps you meant to reference the column "city_data.state".
[SQL:
SELECT *
FROM city_data
WHERE station == '12345'
]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
# ca.upload_city_data_to_postgres(tmp_df, engine=engine)
# # CITY YEAR will be the primary key(s)
# # all other data will follow after that

In [7]:
# to delete a table,,, weird syntax
from sqlalchemy import MetaData, Table
metadata = MetaData()

# Reflect the existing table
table_name = 'city_ids'
table = Table(table_name, metadata, autoload_with=engine)

# Drop the table
table.drop(engine)

OperationalError: (psycopg.OperationalError) consuming input failed: terminating connection due to administrator command
server closed the connection unexpectedly
	This probably means the server terminated abnormally
	before or while processing the request.
[SQL: SELECT pg_catalog.pg_attribute.attname AS name, pg_catalog.format_type(pg_catalog.pg_attribute.atttypid, pg_catalog.pg_attribute.atttypmod) AS format_type, (SELECT pg_catalog.pg_get_expr(pg_catalog.pg_attrdef.adbin, pg_catalog.pg_attrdef.adrelid) AS pg_get_expr_1
FROM pg_catalog.pg_attrdef
WHERE pg_catalog.pg_attrdef.adrelid = pg_catalog.pg_attribute.attrelid AND pg_catalog.pg_attrdef.adnum = pg_catalog.pg_attribute.attnum AND pg_catalog.pg_attribute.atthasdef) AS "default", pg_catalog.pg_attribute.attnotnull AS not_null, pg_catalog.pg_class.relname AS table_name, pg_catalog.pg_description.description AS comment, pg_catalog.pg_attribute.attgenerated AS generated, (SELECT json_build_object(%(json_build_object_2)s::VARCHAR, pg_catalog.pg_attribute.attidentity = %(attidentity_1)s::VARCHAR, %(json_build_object_3)s::VARCHAR, pg_catalog.pg_sequence.seqstart, %(json_build_object_4)s::VARCHAR, pg_catalog.pg_sequence.seqincrement, %(json_build_object_5)s::VARCHAR, pg_catalog.pg_sequence.seqmin, %(json_build_object_6)s::VARCHAR, pg_catalog.pg_sequence.seqmax, %(json_build_object_7)s::VARCHAR, pg_catalog.pg_sequence.seqcache, %(json_build_object_8)s::VARCHAR, pg_catalog.pg_sequence.seqcycle) AS json_build_object_1
FROM pg_catalog.pg_sequence
WHERE pg_catalog.pg_attribute.attidentity != %(attidentity_2)s::VARCHAR AND pg_catalog.pg_sequence.seqrelid = CAST(CAST(pg_catalog.pg_get_serial_sequence(CAST(CAST(pg_catalog.pg_attribute.attrelid AS REGCLASS) AS TEXT), pg_catalog.pg_attribute.attname) AS REGCLASS) AS OID)) AS identity_options
FROM pg_catalog.pg_class LEFT OUTER JOIN pg_catalog.pg_attribute ON pg_catalog.pg_class.oid = pg_catalog.pg_attribute.attrelid AND pg_catalog.pg_attribute.attnum > %(attnum_1)s::SMALLINT AND NOT pg_catalog.pg_attribute.attisdropped LEFT OUTER JOIN pg_catalog.pg_description ON pg_catalog.pg_description.objoid = pg_catalog.pg_attribute.attrelid AND pg_catalog.pg_description.objsubid = pg_catalog.pg_attribute.attnum JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s::VARCHAR, %(param_2)s::VARCHAR, %(param_3)s::VARCHAR, %(param_4)s::VARCHAR, %(param_5)s::VARCHAR]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s::VARCHAR AND pg_catalog.pg_class.relname IN (%(filter_names_1)s::VARCHAR) ORDER BY pg_catalog.pg_class.relname, pg_catalog.pg_attribute.attnum]
[parameters: {'json_build_object_2': 'always', 'attidentity_1': 'a', 'json_build_object_3': 'start', 'json_build_object_4': 'increment', 'json_build_object_5': 'minvalue', 'json_build_object_6': 'maxvalue', 'json_build_object_7': 'cache', 'json_build_object_8': 'cycle', 'attidentity_2': '', 'attnum_1': 0, 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog', 'filter_names_1': 'city_ids'}]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
# query = """
# SELECT * 
# FROM cities
# """

# counties = list(pd.read_sql_query(query, con=engine)['county'])

# final_df = pd.DataFrame()
# for county in counties:
#     print("Working on: ", county)
#     city_data_df = ca.get_data_for_city(city=None, years=(2009,2024), county=county)
#     final_df = pd.concat([final_df, city_data_df], ignore_index=True)

In [ ]:
# ca.upload_city_data_to_postgres(final_df, engine=engine)

In [ ]:
# # existing_data = pd.read_sql('SELECT city, year FROM city_data', engine)
# # new_rows = final_df[~final_df[['city', 'year']].isin(existing_data[['city', 'year']])]
# # final_df[['city', 'year']].isin(existing_data[['city', 'year']])
# query = """
# SELECT * FROM city_data
# """

# check_df = pd.read_sql_query(query, con=engine)
# check_df
# #rows_to_upload = final_df[]
# # final_df.to_sql("city_data", con=engine, index=False, chunksize=1000, if_exists="replace")

In [ ]:

# query = """
# SELECT * FROM city_data
# """

# df = pd.read_sql_query(query, con=engine)
# df

In [ ]:
# y = "2009"
# url = "https://api.census.gov/data/" + f"{y}/acs/acs1/profile"

# get_metrics = "".join(x + "," for x in ca.list_of_metrics.keys())
# get_metrics = get_metrics[:len(get_metrics)-1] # get rid of the last comma that I appended

# params = {"key": os.getenv("CENSUS_KEY"),
#                     "get": get_metrics,
#                     "for": f"county:810",
#                     "in": "state:51"}

# r = requests.get(url=url, params=params)
# values = list(json.loads(r.text))
# pd.DataFrame(values[1:], columns=values[0])

In [ ]:
# ca.get_all_cities()

In [ ]:
# from html.parser import HTMLParser
# #census_url = "https://api.census.gov/data"
# year = "2023"
# dataset = "acs"
# url = f"https://api.census.gov/data/{year}/acs/acs1/profile"


# """
#     # https://api.census.gov/data/2022/acs/acs1/profile/variables.html 

#     # ones worth using:

#     # economic
#     DP03_0093E = estimate for earnings for first year male workers 
#     DP03_0094E = estimate for earnings for first year female workers
#     DP03_0119PE = estimated percentage of people below the poverty line
#     DP04_0001E = estimated housing units
#     DP02_0002E = estimated number of married housing units
#     DP02_0016E = estimated average household size

#     DP03_0052E: estimated total households less than $10,000 income
#     DP03_0053E: estimated total households between $10-15k
#     DP03_0054E: estimated total households between $15-25k
#     DP03_0055E: 25-35k
#     DP03_0056E: 35-45k
#     DP03_0057E: 50-75k
#     DP03_0058E: 75-100k
#     DP03_0059E: 100-150k
#     DP03_0060E: 150-200k
#     DP03_0061E: > 200k

#     # relationships
#     DP02_0026E = men over 15 y/o who have not married
#     DP02_0028E = men over 15 y/o who married, but separated
#     DP02_0030E = men over 15 y/o who are divorced
    
#     # education (currently)
#     DP02_0054E = estimated population of kids in nursery school/preschool
#     DP02_0055E = estimated population of kids in kindergarten
#     DP02_0056E = estimated population of kids in grades 1-8
#     DP02_0057E = estimated population of kids in grades 9-12
#     DP02_0058E = estimated population of kids in college/grad school

#     # education attainment
#     DP02_0060PE = estimated population of 25 years and older who have less than 9th grade education
#     DP02_0061PE = estimated population with some high school education
#     DP02_0062PE = estimated population with high school diploma
#     DP02_0063PE = estimated population with some college, no diploma
#     DP02_0064PE = estimated population with associates degrees
#     DP02_0065PE  = estimated population with bachelor's degree
#     DP02_0066PE = estimated population with graduate degrees

#     # unemployement rate
#     DP03_0009PE

#     # industry
#     DP03_0033PE: agriculture, forestry, fishing, hunting, mining
#     DP03_0034PE: construction
#     DP03_0035PE: manufacturing
#     DP03_0036PE: wholesale trade
#     DP03_0037PE: retail trade
#     DP03_0038PE: transportation, warehousing, utilities
#     DP03_0039PE: information
#     DP03_0040PE: finance, insurance, real estate, rental, leasing
#     DP03_0041PE: professional, scientific, administrative, waste management
#     DP03_0042PE: educational services/health care/ social assistance
#     DP03_0043PE: arts, entertainment, recreation, accommodation, food services
#     DP03_0045PE: public administration

# """
# variables = "NAME,DP02_0060PE,DP02_0061PE,DP02_0062PE,DP02_0063PE,DP02_0064PE,DP02_0065PE,DP02_0066PE"
# print(url)
# params = {"key": os.getenv("CENSUS_KEY"),
#            "for": "county:*", 
#            "get": variables,
#            "in": "state:51"
#           }
# r = requests.get(url, params=params)
# values = list(json.loads(r.text))

# df = pd.DataFrame(values[1:], columns=values[0])
# # df = df.rename(columns={
# #     "DP02_0060PE":"<9th",
# #     "DP02_0061PE": "some high school",
# #     "DP02_0062PE": "high school",
# #     "DP02_0063PE": "some college",
# #     "DP02_0064PE": "associates",
# #     "DP02_0065PE": "bachelors",
# #     "DP02_0066PE": "graduate"
# # })
# df

In [ ]:
co.upload_data_to_postgres(climate_data=climate_df, engine=engine)

In [ ]:
query = """
SELECT *
FROM climate_data
"""

pd.read_sql_query(query, con=engine)

In [ ]:
cities = cen.get_all_cities()
cities = list(cities['city'])

city_to_station = {}

full_df = pd.DataFrame()
for c in cities:
    if c == "fauquier":
        c = "front royal"
    if c == "jamescity":
        c = "williamsburg"
    if c == "princewilliam":
        c = "manassas"
    if c == "spotsylvania":
        c = "fredericksburg"

    if c == "beach":
        c = "Virginia Beach"
    c = c + ", virginia"
    print("Working on:", c)
    station_id = cli.get_station_id(c)
    climate_df = cli.get_data_for_station_id(station_id=station_id, start_date="1940-01-01", end_date="2023-12-31")
    full_df = pd.concat([full_df, climate_df], ignore_index=True)

In [ ]:
station_id = cli.get_station_id("virginia beach, virginia")
climate_df = cli.get_data_for_station_id(station_id=station_id, start_date="1940-01-01", end_date="2023-12-31")
full_df = pd.concat([full_df, climate_df], ignore_index=True)

In [ ]:
full_df = full_df.rename(columns={
    "STATION": "id",
    "DATE": "date",
    "PRCP": "prcp",
    "TMAX": "tmax",
    "TMIN": "tmin"
})


cli.upload_data_to_postgres(full_df, engine=engine)

Uploading city climate data to the database
city_data table does not exist yet, creating now with first command
Finished uploading city data to database

In [10]:
query = """
SELECT *
FROM climate_data
WHERE id='USW00093736'
"""
pd.read_sql_query(query, con=engine)

                id        date  prcp  tmax  tmin
0      USW00093736  1955-09-14   NaN  77.0  47.0
1      USW00093736  1955-09-15   NaN  88.0  55.0
2      USW00093736  1955-09-16   NaN  92.0  64.0
3      USW00093736  1955-09-17   NaN  80.0  70.0
4      USW00093736  1955-09-18   NaN  81.0  67.0
...            ...         ...   ...   ...   ...
24879  USW00093736  2023-12-27  0.28  55.0  50.0
24880  USW00093736  2023-12-28  0.00  61.0  41.0
24881  USW00093736  2023-12-29  0.02  50.0  36.0
24882  USW00093736  2023-12-30  0.00  51.0  34.0
24883  USW00093736  2023-12-31  0.00  52.0  28.0

[24884 rows x 5 columns]

In [ ]:
col_one = city_to_station.keys()
col_two = city_to_station.values()

new_dicts = {"city": col_one, "id": col_two}

city_id_df = pd.DataFrame.from_dict(new_dicts)

In [ ]:
cli.upload_cities_and_ids(city_id_df, engine=engine)

In [ ]:
lat, long = co.get_lat_long(location="Fredericksburg VA")
bb = co.get_bounding_box(latitude=lat, longitude=long, buffer = 10)
bb

In [ ]:
bounding_box = f"{bb[0]},{bb[1]},{bb[2]},{bb[3]}"
print(bounding_box)
params = {"dataset":"global-summary-of-the-month",
                  "bbox": bounding_box,
                  "dataTypes": "TMIN,TMAX,PRCP",
                  "startDate": "2022-01-01",
                  "endDate": "2022-02-01"}
headers = co.make_headers()
base = "https://www.ncei.noaa.gov/access/services/search/v1/data"
r = requests.get(url=base, params=params, headers=headers)
r.text

In [ ]:
city_to_station

In [ ]:
final_df = pd.DataFrame()
for station in city_to_station.values():
    co.get_data_for_station_id(station)