In [1]:
import requests
import json
import os
import climate
from pprint import pprint
import pandas as pd
import numpy as np
import io
import census
from pprint import pprint

In [2]:
ca = census.CensusData()
ca.get_data_for_city("norfolk", data_selections="poverty,male_income")

DP03_0093E

  DP03_0119PE DP03_0093E                    NAME state county
0        13.5      50111  Norfolk city, Virginia    51    710

In [ ]:
co = climate.ClimateAgent()
station_id = co.get_station_id("Norfolk, Virginia")
climate_df = co.get_data_for_station_id(station_id=station_id, start_date="2022-01-01", end_date="2022-12-31")

In [ ]:
# ca = census.CensusData()

# pprint(ca.access_economic_data("Norfolk", [2022]))

In [ ]:
from html.parser import HTMLParser
#census_url = "https://api.census.gov/data"
year = "2023"
dataset = "acs"
url = f"https://api.census.gov/data/{year}/acs/acs1/profile"
variables = "NAME,DP03_0119PE"

"""
    # https://api.census.gov/data/2022/acs/acs1/profile/variables.html 

    # test variables:
    DP03_0001E = Employment Status, aged 16 and older
    DP03_0051E = Income and benefits, inflation adjusted (add a P before the E for percent)
    DP03_0086E = Mean family income (dollars)


    DP03_0093E = estimate for earnings for first year male workers 
    DP03_0094E = estimate for earnings for first year female workers

    DP03_0119PE = estimated percentage of people below the poverty line




"""

print(url)
params = {"key": os.getenv("CENSUS_KEY"),
           "for": "county:*", 
           "get": variables,
           "in": "state:51"
          }
r = requests.get(url, params=params)
values = list(json.loads(r.text))

df = pd.DataFrame(values[1:], columns=values[0])
df

In [ ]:
df['NAME'] = df['NAME'].str.lower()
df['NAME'] = df['NAME'].str.replace(" ", "")

In [ ]:
df[df['NAME'].str.contains("norfolk")]