In [1]:
import requests
import json
import os
import climate
from pprint import pprint
import pandas as pd
import numpy as np
import io
import census
from pprint import pprint

In [2]:
cd = census.CensusData()
ca = climate.ClimateAgent()
pgpw = os.getenv("POSTGRES_PASSWORD") 
server, engine = cd.connect_to_postgres(password=pgpw) #need to add create=True if

In [3]:
cities_and_ids = pd.read_csv("data/city-ids.csv")
cities = list(cities_and_ids['city'])
station_ids = list(cities_and_ids['id'])
cd.upload_cities_to_postgres(cities_and_ids, engine=engine)

print("Getting all city data")
counties = list(cities_and_ids['id'])
city_df = pd.DataFrame()
for c in cities:
    print("Working on", c)
    try:
        df = cd.get_data_for_city(city=c, years=[2009, 2023])
        city_df = pd.concat([city_df, df], ignore_index=True)
    except Exception as e:
        print(e)
        continue
print(city_df)
cd.upload_city_data_to_postgres(city_df, engine=engine)

Uploading region information to database
Finished uploading to database
Getting all city data
Working on charlottesville
URL ERROR, MAKE SURE IT IS CORRECTLY CONFIGURED
Working on arlington
404 Error
         city  year male_worker_earnings female_worker_earnings pct_below_pov  \
0   arlington  2009                53566                  71361           (X)
1   arlington  2010                73658                  62133           6.1
2   arlington  2011                81465                  62031           4.6
3   arlington  2012                87362                  65904           6.2
4   arlington  2013                89109                  75891           8.2
5   arlington  2014                88177                  74247           7.1
6   arlington  2015                86926                  75111           3.8
7   arlington  2016                98623                  80167           4.5
8   arlington  2017                90956                  76438           2.6
9   arlington  2018                97299                  80892           4.0
10  arlington  2019                91631                  79572           6.5
11  arlington  2021               103055                  91664           5.6
12  arlington  2022               114766                  96740           4.5

   num_housing_units num_married_housing_units avg_household_size  \
0             103813                     38713               3.39
1             105490                     42683               3.01
2             106720                     41499               3.23
3             107734                     42934               3.12
4             109689                     48136               3.00
5             110597                     44313               3.06
6             112517                     45803               3.06
7             112970                     50440               2.95
8             114002                     48380               3.05
9             116543                     51898               2.90
10            118883                     41865               2.08
11            119446                     40178               2.12
12            122458                     38932               2.05

   lt_10k_income gt_10k_lt_15k_income  ... pct_in_retail  \
0          90561                 4313  ...           0.4
1           3126                 1527  ...           6.1
2           2915                 1426  ...           3.6
3           3033                 1914  ...           6.1
4           4281                 1830  ...           3.8
5           4027                 1868  ...           4.4
6           4457                 1220  ...           3.7
7           4874                  928  ...           3.6
8           4416                 1373  ...           4.3
9           3390                 2107  ...           4.6
10          4857                 2372  ...           4.2
11          4621                 1812  ...           3.7
12          4895                 1989  ...           3.7

   pct_in_transportation pct_in_information pct_in_finance pct_in_science  \
0                    5.2                1.6            3.8            9.1
1                    1.9                2.8            5.8           24.5
2                    1.2                2.8            8.1           29.2
3                    1.9                2.9            8.3           29.8
4                    1.4                3.5            7.0           29.5
5                    2.3                3.8            6.5           26.3
6                    1.8                2.9            9.2           27.9
7                    2.0                3.5            6.6           30.1
8                    2.8                3.0            5.7           31.8
9                    2.5                3.7            6.9           28.0
10                   1.9                3.2            6.1           31.8
11                   1.5                3.3            8.9           31.2
12                   1.9                2.8            7.2           31.3

   pct_in_education pct_in_arts pct_in_pub_ad state county
0              26.9        13.2           6.6    51    013
1              17.8         7.6          17.8    51    013
2              17.9         6.8          19.3    51    013
3              14.4         6.8          16.4    51    013
4              14.7        10.0          15.9    51    013
5              14.9         9.3          17.0    51    013
6              15.1         6.5          17.6    51    013
7              15.6         7.5          16.1    51    013
8              14.2         8.2          16.5    51    013
9              14.6         6.7          16.8    51    013
10             14.6         6.8          18.9    51    013
11             16.3         6.1          16.5    51    013
12             16.2         6.3          16.6    51    013

[13 rows x 48 columns]
Working on augusta
404 Error
       city  year male_worker_earnings female_worker_earnings pct_below_pov  \
0   augusta  2009                28305                  42369           (X)
1   augusta  2010                41036                  32366           7.4
2   augusta  2011                40767                  35103           8.6
3   augusta  2012                39045                  35580           7.1
4   augusta  2013                44900                  29838           5.7
5   augusta  2014                46831                  36735           7.9
6   augusta  2015                46679                  33827           6.0
7   augusta  2016                46531                  37416           7.4
8   augusta  2017                42484                  36530           8.6
9   augusta  2018                45755                  41042           5.1
10  augusta  2019                50321                  39742           3.6
11  augusta  2021                46152                  50621           6.9
12  augusta  2022                57078                  50520           6.0

   num_housing_units num_married_housing_units avg_household_size  \
0              30798                     20068               2.90
1              31352                     19870               3.04
2              31664                     20938               2.88
3              31576                     22484               2.71
4              31552                     19214               3.13
5              31800                     21158               2.91
6              32141                     19739               3.01
7              32281                     19808               2.99
8              32556                     21329               2.84
9              32723                     20628               2.82
10             32847                     17168               2.35
11             32935                     15744               2.49
12             33132                     16937               2.39

   lt_10k_income gt_10k_lt_15k_income  ... pct_in_retail  \
0          27786                 1690  ...           2.2
1           1877                 1043  ...          14.5
2           1759                 1382  ...          14.1
3           1648                 1453  ...          12.1
4           1183                 1307  ...          11.4
5           1207                 2040  ...          12.8
6           1543                 1065  ...          11.7
7            975                 2073  ...          14.8
8           1865                 1333  ...          13.0
9           1356                 1398  ...          12.3
10           912                  885  ...          12.1
11          1674                  688  ...           9.0
12          1135                  999  ...          14.0

   pct_in_transportation pct_in_information pct_in_finance pct_in_science  \
0                   14.0                5.6            1.2            4.5
1                    4.9                1.9            4.5            7.3
2                    6.5                1.1            4.3            6.2
3                    5.7                2.0            3.2            9.3
4                    4.6                3.2            2.8            7.6
5                   10.2                0.7            3.7            7.3
6                    8.0                0.8            2.4            5.9
7                    5.1                1.5            2.5            7.9
8                    6.7                1.3            3.0            8.4
9                    3.6                1.2            3.4            7.9
10                   5.4                2.1            3.7            4.8
11                   8.1                1.0            5.4            9.4
12                   5.4                1.2            3.5            8.3

   pct_in_education pct_in_arts pct_in_pub_ad state county
0               5.5        20.6           5.2    51    015
1              20.6         5.7           4.2    51    015
2              23.5         7.2           5.8    51    015
3              26.9         6.3           2.2    51    015
4              32.8         5.7           2.9    51    015
5              22.2         6.2           5.1    51    015
6              24.1         7.1           1.4    51    015
7              24.0         8.8           4.9    51    015
8              25.2         5.1           4.8    51    015
9              27.2         5.9           5.0    51    015
10             25.2         7.0           3.6    51    015
11             21.8         8.7           3.7    51    015
12             25.4         6.2           3.4    51    015

[13 rows x 48 columns]
Working on bedford

KeyboardInterrupt:

In [17]:
query = """
SELECT * from city_ids
"""

pd.read_sql_query(query, con=engine)

Empty DataFrame
Columns: [city, id]
Index: []

In [ ]:
cities = list(cd.get_all_cities()['city'])
print(cities)

cities_and_ids = {"city": [],
                  "id": []}
print("Getting all city names and ids")
for c in cities:

    if c == "fauquier":
        c = "front royal"
    if c == "jamescity":
        c = "williamsburg"
    if c == "princewilliam":
        c = "manassas"
    if c == "spotsylvania":
        c = "fredericksburg"
    if c == "albemarle":
        c = "charlottesville"

    if c == "beach":
        c = "Virginia Beach"
    
    c = c + ", virginia"
    id = ca.get_station_id(c)
    cities_and_ids['city'].append(c)
    cities_and_ids['id'].append(id)

['albemarle', 'arlington', 'augusta', 'bedford', 'chesterfield', 'fairfax', 'fauquier', 'frederick', 'hanover', 'henrico', 'jamescity', 'loudoun', 'montgomery', 'princewilliam', 'roanoke', 'rockingham', 'spotsylvania', 'stafford', 'york', 'lynchburg', 'alexandria', 'chesapeake', 'hampton', 'newportnews', 'norfolk', 'portsmouth', 'richmond', 'roanoke', 'suffolk', 'beach']
Getting all city names and ids

In [11]:
city_ids = {
    "charlottesville": "USW00093736", 
    "arlington": "USW00013743", 
    "augusta": "USC00448062",
    "bedford": "USC00440551",
    "chesterfield": "USW00000153",
    "fairfax": "USW00093738",
    "front royal": "USC00443229",
    "frederick": "USC00449186",
    "hanover": "USW00093775",
    "henrico": "USW00013740",
    "williamsburg": "USC00449151",
    "loudon": "USC00444909",
    "montgomery": "USC00440766",
    "manassas": "USC00445204",
    "roanoke": "USW00013741",
    "rockingham": "USC00442208",
    "fredericksburg": "USC00442009",
    "stafford": "USW00013773",
    "york": "USW00093741",
    "lynchburg": "USW00013733",
    "alexandria": "USW00013743",
    "chesapeake": "USW00013762",
    "hampton": "USW00013737",
    "newportnews": "USW00093741",
    "norfolk": "USW00013737",
    "portsmouth": "USW00013737",
    "richmond": "USW00013740",
    "roanoke": "USW00013741",
    "suffolk": "USC00448192",
    "Virginia Beach": "USW00013769"
    }

new_dict = {"city":[], "id": []}

for key, value in city_ids.items():
    new_dict['city'].append(key)
    new_dict['id'].append(value)



city_ids = pd.DataFrame.from_dict(new_dict)

city_ids.to_csv("data/city-ids.csv")

In [ ]:
# cd.upload_cities_to_postgres(cities_and_ids, engine=engine)
#cities_and_ids.to_sql("city_ids", con=engine, index=False, chunksize=1000, if_exists="append")


    
final_df = pd.DataFrame.from_dict(cities_and_ids)
final_df

                         city           id
0   charlottesville, virginia  USW00093736
1         arlington, virginia  USW00013743
2           augusta, virginia  USC00448062
3           bedford, virginia  USC00440551
4      chesterfield, virginia  USW00000153
5           fairfax, virginia  USW00093738
6       front royal, virginia  USC00443229
7         frederick, virginia  USC00449186
8           hanover, virginia  USW00093775
9           henrico, virginia  USW00013740
10     williamsburg, virginia  USC00449151
11          loudoun, virginia  USC00444909
12       montgomery, virginia  USC00440766
13         manassas, virginia  USC00445204
14          roanoke, virginia  USW00013741
15       rockingham, virginia  USC00442208
16   fredericksburg, virginia  USC00442009
17         stafford, virginia  USW00013773
18             york, virginia  USW00093741
19        lynchburg, virginia  USW00013733
20       alexandria, virginia  USW00013743
21       chesapeake, virginia  USW00013762
22          hampton, virginia  USW00013737
23      newportnews, virginia  USW00093741
24          norfolk, virginia  USW00013737
25       portsmouth, virginia  USW00013737
26         richmond, virginia  USW00013740
27          roanoke, virginia  USW00013741
28          suffolk, virginia  USC00448192
29   Virginia Beach, virginia  USW00013769

In [12]:
query = """
SELECT *
FROM city_ids
"""

pd.read_sql(query, con=engine)

NameError: name 'engine' is not defined

In [ ]:
cities = list(cd.get_all_cities()['city'])
print(cities)

# cities_and_ids = pd.DataFrame(columns=["city", "id"])
# print("Getting all city names and ids")
# for c in cities:
#     try:
#         if c == "fauquier":
#             c = "front royal"
#         if c == "jamescity":
#             c = "williamsburg"
#         if c == "princewilliam":
#             c = "manassas"
#         if c == "spotsylvania":
#             c = "fredericksburg"

#         if c == "beach":
#             c = "Virginia Beach"
#         print(c)
#         id = ca.get_station_id(c)
#         df = pd.DataFrame({c:id}, columns=['city', 'id'])
#         cities_and_ids = pd.concat([cities_and_ids, df], ignore_index=True)

#     except:
#         continue

# print("Getting all city data")
# city_df = pd.DataFrame()
# for c in cities:
#     try:
#         df = cd.get_data_for_city(c)
#         city_df = pd.concat([city_df, df], ignore_index=True)
#     except:
#         continue

# cd.upload_city_data_to_postgres(city_df, engine=engine)

print("Getting all climate data")
full_df = pd.DataFrame()
for c in cities:
    try:
        if c == "fauquier":
            c = "front royal"
        if c == "jamescity":
            c = "williamsburg"
        if c == "princewilliam":
            c = "manassas"
        if c == "spotsylvania":
            c = "fredericksburg"

        if c == "beach":
            c = "Virginia Beach"
        c = c + ", virginia"
        print("Working on:", c)
        station_id = ca.get_station_id(c)
        climate_df = ca.get_data_for_station_id(station_id=station_id, start_date="1940-01-01", end_date="2023-12-31")
        full_df = pd.concat([full_df, climate_df], ignore_index=True)
    except:
        continue

ca.upload_data_to_postgres(full_df, engine=engine)

['albemarle', 'arlington', 'augusta', 'bedford', 'chesterfield', 'fairfax', 'fauquier', 'frederick', 'hanover', 'henrico', 'jamescity', 'loudoun', 'montgomery', 'princewilliam', 'roanoke', 'rockingham', 'spotsylvania', 'stafford', 'york', 'lynchburg', 'alexandria', 'chesapeake', 'hampton', 'newportnews', 'norfolk', 'portsmouth', 'richmond', 'roanoke', 'suffolk', 'beach']
Getting all city names and ids
albemarle
arlington
augusta
bedford
chesterfield
fairfax
front royal
frederick
hanover
henrico
williamsburg
loudoun
montgomery
manassas

In [8]:
query = """
SELECT *
FROM city_ids
"""

pd.read_sql(query, con=engine)

Empty DataFrame
Columns: [city, id]
Index: []

In [110]:
import plotly.express as px
import matplotlib as plt
query = """
SELECT *
FROM city_ids
"""
df = pd.read_sql_query(query, con=engine)
df

                        city           id
0        albemarle, virginia  USW00093736
1        arlington, virginia  USW00013743
2          augusta, virginia  USC00448062
3          bedford, virginia  USC00440551
4     chesterfield, virginia  USW00000153
5          fairfax, virginia  USW00093738
6      front royal, virginia  USC00443229
7        frederick, virginia  USC00449186
8          hanover, virginia  USW00093775
9          henrico, virginia  USW00013740
10    williamsburg, virginia  USC00449151
11         loudoun, virginia  USC00444909
12      montgomery, virginia  USC00440766
13        manassas, virginia  USC00445204
14         roanoke, virginia  USW00013741
15      rockingham, virginia  USC00442208
16  fredericksburg, virginia  USC00442009
17        stafford, virginia  USW00013773
18            york, virginia  USW00093741
19       lynchburg, virginia  USW00013733
20      alexandria, virginia  USW00013743
21      chesapeake, virginia  USW00013762
22         hampton, virginia  USW00013737
23     newportnews, virginia  USW00093741
24         norfolk, virginia  USW00013737
25      portsmouth, virginia  USW00013737
26        richmond, virginia  USW00013740
27         suffolk, virginia  USC00448192
28  Virginia Beach, virginia  USW00013769

In [ ]:
station_id_one = cli.get_station_id("norfolk, virginia")
station_id_two = cli.get_station_id("augusta, virginia")

df_one = cli.get_climate_data_from_postgres(station_id_one, engine=engine)
df_two = cli.get_climate_data_from_postgres(station_id_two, engine=engine)

full_df = pd.concat([df_one, df_two])
full_df['date'] = pd.to_datetime(full_df['date'])
full_df['year'] = full_df['date'].dt.year
full_df['month'] = full_df['date'].dt.month
full_df.groupby(["id", "year"]).agg(
    {"prcp": "mean",
     "tmax": "mean",
     "tmin": "mean"}
)

                      prcp       tmax       tmin
id          year
USC00448062 1940  0.125246  64.136986  40.571038
            1941  0.063003  68.254190  40.819444
            1942  0.126686  66.779614  41.532967
            1943  0.091151  67.672176  41.791781
            1944  0.113297  67.964286  42.691257
...                    ...        ...        ...
USW00013737 2019  0.126521  71.594521  55.191781
            2020  0.153907  72.139344  55.871585
            2021  0.106630  70.717808  53.983562
            2022  0.107425  69.764384  52.906849
            2023  0.138493  70.865753  54.610959

[162 rows x 3 columns]

In [ ]:
headers = cli.make_headers()
station = cli.get_station_id("norfolk, virginia")
params = {"dataset":"global-summary-of-the-month",
          "stations": station,
          "startDate": "2022-01-01",
          "endDate": "2022-01-02"
          }
r = requests.get("https://www.ncei.noaa.gov/access/services/search/v1/data/", params=params, headers=headers)
data_types = json.loads(r.text)['results'][0]['dataTypes']
data_types

In [63]:
query = """
SELECT *
FROM climate_data
LIMIT 1
"""
df = pd.read_sql_query(query, con=engine)
cols = list(df.columns)

for c in cols:
    print(c)

id
date
prcp
tmax
tmin

In [58]:
query = f"""
SELECT *
FROM city_data
WHERE station == '12345'
"""
record = pd.read_sql_query(query, con=engine)

ProgrammingError: (psycopg.errors.UndefinedColumn) column "station" does not exist
LINE 4: WHERE station == '12345'
              ^
HINT:  Perhaps you meant to reference the column "city_data.state".
[SQL:
SELECT *
FROM city_data
WHERE station == '12345'
]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
# ca.upload_city_data_to_postgres(tmp_df, engine=engine)
# # CITY YEAR will be the primary key(s)
# # all other data will follow after that

In [19]:
# to delete a table,,, weird syntax
from sqlalchemy import MetaData, Table
metadata = MetaData()

# Reflect the existing table
table_name = 'city_ids'
table = Table(table_name, metadata, autoload_with=engine)

# Drop the table
table.drop(engine)

NoSuchTableError: city_ids

In [14]:
query = """
SELECT * 
FROM city_data
"""

pd.read_sql_query(query, con=engine)

,city,year,male_worker_earnings,female_worker_earnings,pct_below_pov,num_housing_units,num_married_housing_units,avg_household_size,lt_10k_income,gt_10k_lt_15k_income,...,pct_in_retail,pct_in_transportation,pct_in_information,pct_in_finance,pct_in_science,pct_in_education,pct_in_arts,pct_in_pub_ad,state,county
0,arlington,2009,53566,71361,(X),103813,38713,3.39,90561,4313,...,0.4,5.2,1.6,3.8,9.1,26.9,13.2,6.6,51,013
1,arlington,2010,73658,62133,6.1,105490,42683,3.01,3126,1527,...,6.1,1.9,2.8,5.8,24.5,17.8,7.6,17.8,51,013
2,arlington,2011,81465,62031,4.6,106720,41499,3.23,2915,1426,...,3.6,1.2,2.8,8.1,29.2,17.9,6.8,19.3,51,013
3,arlington,2012,87362,65904,6.2,107734,42934,3.12,3033,1914,...,6.1,1.9,2.9,8.3,29.8,14.4,6.8,16.4,51,013
4,arlington,2013,89109,75891,8.2,109689,48136,3.00,4281,1830,...,3.8,1.4,3.5,7.0,29.5,14.7,10.0,15.9,51,013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,suffolk,2017,54963,42263,9.4,36845,23708,3.30,2696,1311,...,9.6,7.8,1.4,5.2,9.9,26.8,7.7,9.3,51,800
268,suffolk,2018,61750,46675,6.4,37333,24434,3.15,1585,1220,...,9.1,7.4,1.0,5.1,12.1,24.9,6.5,9.3,51,800
269,suffolk,2019,60358,42672,7.0,37954,17742,2.65,1570,818,...,11.8,8.4,2.7,5.6,9.3,21.5,8.4,11.1,51,800
270,suffolk,2021,62276,47303,9.2,39558,18713,2.55,1903,824,...,7.8,8.7,1.3,4.7,11.5,25.9,7.6,6.1,51,800
271,suffolk,2022,67270,50846,10.1,40849,18190,2.51,1671,1211,...,8.2,7.7,2.2,5.8,17.5,20.4,5.1,8.8,51,800

Uploading region information to database
Finished uploading to database
Getting all city data
https://api.census.gov/data/2022/acs/acs1/profile?key=9602e5c45b622cac9d54ce80349a8db0fd85101e&get=NAME&for=county%3A%2A&in=state%3A51
URL ERROR, MAKE SURE IT IS CORRECTLY CONFIGURED
'str' object cannot be interpreted as an integer
'str' object cannot be interpreted as an integer
'str' object cannot be interpreted as an integer
'str' object cannot be interpreted as an integer
'str' object cannot be interpreted as an integer
https://api.census.gov/data/2022/acs/acs1/profile?key=9602e5c45b622cac9d54ce80349a8db0fd85101e&get=NAME&for=county%3A%2A&in=state%3A51
URL ERROR, MAKE SURE IT IS CORRECTLY CONFIGURED
'str' object cannot be interpreted as an integer
'str' object cannot be interpreted as an integer
'str' object cannot be interpreted as an integer
https://api.census.gov/data/2022/acs/acs1/profile?key=9602e5c45b622cac9d54ce80349a8db0fd85101e&get=NAME&for=county%3A%2A&in=state%3A51
URL ERROR, MAKE SURE IT IS CORRECTLY CONFIGURED
https://api.census.gov/data/2022/acs/acs1/profile?key=9602e5c45b622cac9d54ce80349a8db0fd85101e&get=NAME&for=county%3A%2A&in=state%3A51
URL ERROR, MAKE SURE IT IS CORRECTLY CONFIGURED
'str' object cannot be interpreted as an integer
https://api.census.gov/data/2022/acs/acs1/profile?key=9602e5c45b622cac9d54ce80349a8db0fd85101e&get=NAME&for=county%3A%2A&in=state%3A51
URL ERROR, MAKE SURE IT IS CORRECTLY CONFIGURED
https://api.census.gov/data/2022/acs/acs1/profile?key=9602e5c45b622cac9d54ce80349a8db0fd85101e&get=NAME&for=county%3A%2A&in=state%3A51
URL ERROR, MAKE SURE IT IS CORRECTLY CONFIGURED
'str' object cannot be interpreted as an integer
https://api.census.gov/data/2022/acs/acs1/profile?key=9602e5c45b622cac9d54ce80349a8db0fd85101e&get=NAME&for=county%3A%2A&in=state%3A51
URL ERROR, MAKE SURE IT IS CORRECTLY CONFIGURED
'str' object cannot be interpreted as an integer
'str' object cannot be interpreted as an integer
'str' object cannot be interpreted as an integer
'str' object cannot be interpreted as an integer
'str' object cannot be interpreted as an integer
'str' object cannot be interpreted as an integer
'str' object cannot be interpreted as an integer
'str' object cannot be interpreted as an integer
'str' object cannot be interpreted as an integer
'str' object cannot be interpreted as an integer
'str' object cannot be interpreted as an integer
https://api.census.gov/data/2022/acs/acs1/profile?key=9602e5c45b622cac9d54ce80349a8db0fd85101e&get=NAME&for=county%3A%2A&in=state%3A51
URL ERROR, MAKE SURE IT IS CORRECTLY CONFIGURED
Empty DataFrame
Columns: []
Index: []
Uploading city data to the database
city_data table does not exist yet, creating now with first command
Finished uploading city data to database

In [ ]:
# query = """
# SELECT * 
# FROM cities
# """

# counties = list(pd.read_sql_query(query, con=engine)['county'])

# final_df = pd.DataFrame()
# for county in counties:
#     print("Working on: ", county)
#     city_data_df = ca.get_data_for_city(city=None, years=(2009,2024), county=county)
#     final_df = pd.concat([final_df, city_data_df], ignore_index=True)

In [ ]:
# ca.upload_city_data_to_postgres(final_df, engine=engine)

In [ ]:
# # existing_data = pd.read_sql('SELECT city, year FROM city_data', engine)
# # new_rows = final_df[~final_df[['city', 'year']].isin(existing_data[['city', 'year']])]
# # final_df[['city', 'year']].isin(existing_data[['city', 'year']])
# query = """
# SELECT * FROM city_data
# """

# check_df = pd.read_sql_query(query, con=engine)
# check_df
# #rows_to_upload = final_df[]
# # final_df.to_sql("city_data", con=engine, index=False, chunksize=1000, if_exists="replace")

In [ ]:

# query = """
# SELECT * FROM city_data
# """

# df = pd.read_sql_query(query, con=engine)
# df

In [ ]:
# y = "2009"
# url = "https://api.census.gov/data/" + f"{y}/acs/acs1/profile"

# get_metrics = "".join(x + "," for x in ca.list_of_metrics.keys())
# get_metrics = get_metrics[:len(get_metrics)-1] # get rid of the last comma that I appended

# params = {"key": os.getenv("CENSUS_KEY"),
#                     "get": get_metrics,
#                     "for": f"county:810",
#                     "in": "state:51"}

# r = requests.get(url=url, params=params)
# values = list(json.loads(r.text))
# pd.DataFrame(values[1:], columns=values[0])

In [ ]:
# ca.get_all_cities()

In [ ]:
# from html.parser import HTMLParser
# #census_url = "https://api.census.gov/data"
# year = "2023"
# dataset = "acs"
# url = f"https://api.census.gov/data/{year}/acs/acs1/profile"


# """
#     # https://api.census.gov/data/2022/acs/acs1/profile/variables.html 

#     # ones worth using:

#     # economic
#     DP03_0093E = estimate for earnings for first year male workers 
#     DP03_0094E = estimate for earnings for first year female workers
#     DP03_0119PE = estimated percentage of people below the poverty line
#     DP04_0001E = estimated housing units
#     DP02_0002E = estimated number of married housing units
#     DP02_0016E = estimated average household size

#     DP03_0052E: estimated total households less than $10,000 income
#     DP03_0053E: estimated total households between $10-15k
#     DP03_0054E: estimated total households between $15-25k
#     DP03_0055E: 25-35k
#     DP03_0056E: 35-45k
#     DP03_0057E: 50-75k
#     DP03_0058E: 75-100k
#     DP03_0059E: 100-150k
#     DP03_0060E: 150-200k
#     DP03_0061E: > 200k

#     # relationships
#     DP02_0026E = men over 15 y/o who have not married
#     DP02_0028E = men over 15 y/o who married, but separated
#     DP02_0030E = men over 15 y/o who are divorced
    
#     # education (currently)
#     DP02_0054E = estimated population of kids in nursery school/preschool
#     DP02_0055E = estimated population of kids in kindergarten
#     DP02_0056E = estimated population of kids in grades 1-8
#     DP02_0057E = estimated population of kids in grades 9-12
#     DP02_0058E = estimated population of kids in college/grad school

#     # education attainment
#     DP02_0060PE = estimated population of 25 years and older who have less than 9th grade education
#     DP02_0061PE = estimated population with some high school education
#     DP02_0062PE = estimated population with high school diploma
#     DP02_0063PE = estimated population with some college, no diploma
#     DP02_0064PE = estimated population with associates degrees
#     DP02_0065PE  = estimated population with bachelor's degree
#     DP02_0066PE = estimated population with graduate degrees

#     # unemployement rate
#     DP03_0009PE

#     # industry
#     DP03_0033PE: agriculture, forestry, fishing, hunting, mining
#     DP03_0034PE: construction
#     DP03_0035PE: manufacturing
#     DP03_0036PE: wholesale trade
#     DP03_0037PE: retail trade
#     DP03_0038PE: transportation, warehousing, utilities
#     DP03_0039PE: information
#     DP03_0040PE: finance, insurance, real estate, rental, leasing
#     DP03_0041PE: professional, scientific, administrative, waste management
#     DP03_0042PE: educational services/health care/ social assistance
#     DP03_0043PE: arts, entertainment, recreation, accommodation, food services
#     DP03_0045PE: public administration

# """
# variables = "NAME,DP02_0060PE,DP02_0061PE,DP02_0062PE,DP02_0063PE,DP02_0064PE,DP02_0065PE,DP02_0066PE"
# print(url)
# params = {"key": os.getenv("CENSUS_KEY"),
#            "for": "county:*", 
#            "get": variables,
#            "in": "state:51"
#           }
# r = requests.get(url, params=params)
# values = list(json.loads(r.text))

# df = pd.DataFrame(values[1:], columns=values[0])
# # df = df.rename(columns={
# #     "DP02_0060PE":"<9th",
# #     "DP02_0061PE": "some high school",
# #     "DP02_0062PE": "high school",
# #     "DP02_0063PE": "some college",
# #     "DP02_0064PE": "associates",
# #     "DP02_0065PE": "bachelors",
# #     "DP02_0066PE": "graduate"
# # })
# df

In [ ]:
co.upload_data_to_postgres(climate_data=climate_df, engine=engine)

In [ ]:
query = """
SELECT *
FROM climate_data
"""

pd.read_sql_query(query, con=engine)

In [ ]:
cities = cen.get_all_cities()
cities = list(cities['city'])

city_to_station = {}

full_df = pd.DataFrame()
for c in cities:
    if c == "fauquier":
        c = "front royal"
    if c == "jamescity":
        c = "williamsburg"
    if c == "princewilliam":
        c = "manassas"
    if c == "spotsylvania":
        c = "fredericksburg"

    if c == "beach":
        c = "Virginia Beach"
    c = c + ", virginia"
    print("Working on:", c)
    station_id = cli.get_station_id(c)
    climate_df = cli.get_data_for_station_id(station_id=station_id, start_date="1940-01-01", end_date="2023-12-31")
    full_df = pd.concat([full_df, climate_df], ignore_index=True)

In [ ]:
station_id = cli.get_station_id("virginia beach, virginia")
climate_df = cli.get_data_for_station_id(station_id=station_id, start_date="1940-01-01", end_date="2023-12-31")
full_df = pd.concat([full_df, climate_df], ignore_index=True)

In [ ]:
full_df = full_df.rename(columns={
    "STATION": "id",
    "DATE": "date",
    "PRCP": "prcp",
    "TMAX": "tmax",
    "TMIN": "tmin"
})


cli.upload_data_to_postgres(full_df, engine=engine)

Uploading city climate data to the database
city_data table does not exist yet, creating now with first command
Finished uploading city data to database

In [10]:
query = """
SELECT *
FROM climate_data
WHERE id='USW00093736'
"""
pd.read_sql_query(query, con=engine)

                id        date  prcp  tmax  tmin
0      USW00093736  1955-09-14   NaN  77.0  47.0
1      USW00093736  1955-09-15   NaN  88.0  55.0
2      USW00093736  1955-09-16   NaN  92.0  64.0
3      USW00093736  1955-09-17   NaN  80.0  70.0
4      USW00093736  1955-09-18   NaN  81.0  67.0
...            ...         ...   ...   ...   ...
24879  USW00093736  2023-12-27  0.28  55.0  50.0
24880  USW00093736  2023-12-28  0.00  61.0  41.0
24881  USW00093736  2023-12-29  0.02  50.0  36.0
24882  USW00093736  2023-12-30  0.00  51.0  34.0
24883  USW00093736  2023-12-31  0.00  52.0  28.0

[24884 rows x 5 columns]

In [ ]:
col_one = city_to_station.keys()
col_two = city_to_station.values()

new_dicts = {"city": col_one, "id": col_two}

city_id_df = pd.DataFrame.from_dict(new_dicts)

In [ ]:
cli.upload_cities_and_ids(city_id_df, engine=engine)

In [ ]:
lat, long = co.get_lat_long(location="Fredericksburg VA")
bb = co.get_bounding_box(latitude=lat, longitude=long, buffer = 10)
bb

In [ ]:
bounding_box = f"{bb[0]},{bb[1]},{bb[2]},{bb[3]}"
print(bounding_box)
params = {"dataset":"global-summary-of-the-month",
                  "bbox": bounding_box,
                  "dataTypes": "TMIN,TMAX,PRCP",
                  "startDate": "2022-01-01",
                  "endDate": "2022-02-01"}
headers = co.make_headers()
base = "https://www.ncei.noaa.gov/access/services/search/v1/data"
r = requests.get(url=base, params=params, headers=headers)
r.text

In [ ]:
city_to_station

In [ ]:
final_df = pd.DataFrame()
for station in city_to_station.values():
    co.get_data_for_station_id(station)